.app-mobile{
    display: flex;
    flex-direction: column;
}
.app{
  display: flex;

}


.content{

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
}

.search{
  align-self: flex-end;
  margin: 3rem;
}



.search input{
  border-radius: 15px;
  padding: 0.7rem;
  width: 500px;
  border: none;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(85,102,205,0.15); 
  box-shadow: 5px 5px 15px 5px rgba(85,102,205,0.15);
}


.search input{
  width: 410px;
}