
.profile{
    display: flex;
    gap:1.2rem;
}
.logo-profile img{
    width: 70px;
    height: 70px;

}

.user-name{
    font-weight: 900;
    color: var(--white);
}

.info-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.level{
    font-weight: 100;
    color: #cccccc;
}

.legend h6{
    font-weight: 900;
    color: var(--white);
    margin-top: 0.3rem;

}