
.listado{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1.5rem;
  background-color: var(--grad);
}

.listado-mobile{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1rem;
  
  
}

